fastapi==0.111.0
alembic==1.13.1 # DB migrations
requests==2.31.0 # Readable HTTP
psycopg2==2.9.9 # PSQL driver
pydantic-settings==2.2.1 # Pydantic settings options [donated to the python-org, not part of the main package anymore]
PyJWT==2.8.0 # Instead of jose (has a CVE)
ETo==1.1.0
